<aside class="sidebar">

    <div class="logo">

        <div class="logo-icon">
            +
        </div>

        <div>
            <h2>HealthForge</h2>
            <span>AI Healthcare</span>
        </div>

    </div>


    <nav class="sidebar-nav">

        <a href="{{ url_for('patient.dashboard') }}"
           class="nav-item">

            <span>🏠</span>
            Dashboard

        </a>


        <a href="{{ url_for('hospitals.hospitals') }}"
           class="nav-item">

            <span>🏥</span>
            Hospitals

        </a>


        <a href="{{ url_for('appointments.appointment_list') }}"
           class="nav-item">

            <span>📅</span>
            Appointments

        </a>


        <a href="{{ url_for('appointments.my_doctors') }}"
           class="nav-item">

            <span>👨‍⚕️</span>
            My Doctors

        </a>


        <a href="{{ url_for('queue.live_monitor') }}"
           class="nav-item">

            <span>📺</span>
            Live Monitor

        </a>


        <a href="{{ url_for('patient.medical_records') }}"
           class="nav-item">

            <span>📄</span>
            Medical Records

        </a>


        <a href="{{ url_for('notifications.notifications') }}"
           class="nav-item">

            <span>🔔</span>
            Notifications

        </a>


        <a href="{{ url_for('patient.profile') }}"
           class="nav-item">

            <span>👤</span>
            Profile

        </a>

    </nav>


    <div class="sidebar-bottom">

        <a href="{{ url_for('auth.logout') }}"
           class="nav-item logout">

            <span>↪</span>
            Logout

        </a>

    </div>

</aside>